<app-navbar></app-navbar>
<div class="container" style="color: gray;">
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>
        Welcome to MySportsCalendar
      </h3>
    </div>
  </div>
  <div class="row mb-5 mt-5">
    <div class="col-md-12 text-center">
      <button routerLink="/register" class="btn btn-success btn-lg">
        Register as Athlete
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100 shadow" style="width: 100%;">
        <img src="../../assets/athlete.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Become an Athlete</h5>
          <p class="card-text">
            Register as an athlete and train anytime anywhere with a large
            number of registered personal trainers.
          </p>
        </div>
        <a href="#" class="btn btn-light">Read more</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 shadow" style="width: 100%;">
        <img src="../../assets/trainer.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Become a Personal coach</h5>
          <p class="card-text">
            If you are a Personal coach, register here and let other find you.
            Train people at time and place that you choose.
          </p>
        </div>
        <a href="#" class="btn btn-light">Read more</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 shadow" style="width: 100%;">
        <img src="../../assets/fields.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Become a sports field provider</h5>
          <p class="card-text">
            If you own a sports field or a gym, and it is free for rental,
            register here and let people now about your place.
          </p>
        </div>
        <a href="#" class="btn btn-light">Read more</a>
      </div>
    </div>
  </div>
</div>
