<div class="container">
  <div class="row login-component-wrapper">
    <div class="login-component">
      <div class="login-title text-center">
        Welcome to Sports Calendar
      </div>
      <div class="login-text text-center">
        Create your Account
      </div>
      <form class="col-md-12" [formGroup]="registerForm">
        <div class="form-group">
          <label for="firstNameInput">First name</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            id="firstNameInput"
            required
          />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors?.required">
              First name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastNameInput">Last name</label>
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            id="lastNameInput"
          />
          <div *ngIf="f.lastName.errors?.required">
            Last name is required
          </div>
        </div>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            id="emailInput"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors?.required">Email is required</div>
            <div *ngIf="f.email.errors?.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="roleInput">Role</label>
          <select
            id="roleInput"
            formControlName="role"
            class="custom-select"
            [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
            (change)="onRoleSelect($event)"
          >
            <option selected hidden>Register as</option>
            <option value="Athlete">Athlete</option>
            <option value="Personal coach">Personal coach</option>
            <option value="Sport field provider">Sport field provider</option>
          </select>
          <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
            <div *ngIf="f.role.errors?.required">
              Role is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="registerPasswordInput">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            id="registerPasswordInput"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors?.required">Password is required</div>
            <div *ngIf="f.password.errors?.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="registerConfirmPasswordInput">Confirm password</label>
          <input
            formControlName="confirmPassword"
            type="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.confirmPassword.errors
            }"
            id="registerConfirmPasswordInput"
          />
          <div
            *ngIf="submitted && f.confirmPassword.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.confirmPassword.errors?.required">
              Confirm Password is required
            </div>
            <div *ngIf="f?.confirmPassword.errors?.mustMatch">
              Passwords must match
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">
                  <input
                    formControlName="termsAndConditions"
                    class="form-check-input"
                    type="checkbox"
                    id="termsAndCon"
                    [ngClass]="{
                      'is-invalid': submitted && !f.termsAndConditions.value
                    }"
                  />
                  <label class="form-check-label" for="termsAndCon">
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#termsAndConditionsModal"
                      >Terms and Conditions</a
                    >
                  </label>
                  <div
                    *ngIf="submitted && !f.termsAndConditions.value"
                    class="invalid-feedback"
                  >
                    <div *ngIf="!f.termsAndConditions.value">
                      Check terms and conditions
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">
                  <input
                    formControlName="dataProtection"
                    class="form-check-input"
                    [ngClass]="{
                      'is-invalid': submitted && !f.dataProtection.value
                    }"
                    type="checkbox"
                    id="dataProt"
                  />
                  <label class="form-check-label" for="dataProt">
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#dataProtectionModal"
                      >Data protection</a
                    >
                  </label>
                  <div
                    *ngIf="submitted && !f.dataProtection.value"
                    class="invalid-feedback"
                  >
                    <div *ngIf="!f.dataProtection.value">
                      Check data protection
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngIf="registerError" class="col-md- mt-2">
            <div class="alert alert-danger" role="alert">
              {{ registerError }}
            </div>
          </div>
        </div>
        <p>
          Allready have account?
          <a class="link-to-register" routerLink="/login">LOGIN</a>
        </p>
        <div class="row">
          <div class="col-md-12">
            <button (click)="register()" class="btn btn-success btn-lg w-100">
              Crate account
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="termsAndConditionsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="termsAndConditionsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsAndConditionsModalLabel">
          Terms and Conditions
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The standard Lorem Ipsum passage, used since the 1500s "Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum." Section 1.10.32 of "de Finibus Bonorum et Malorum",
        written by Cicero in 45 BC "Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
        voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore
        magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
        nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
        illum qui dolorem eum fugiat quo voluptas nulla pariatur?" 1914
        translation by H. Rackham "But I must explain to you how all this
        mistaken idea of denouncing pleasure and praising pain was born and I
        will give you a complete account of the system, and expound the actual
        teachings of the great explorer of the truth, the master-builder of
        human happiness. No one rejects, dislikes, or avoids pleasure itself,
        because it is pleasure, but because those who do not know how to pursue
        pleasure rationally encounter consequences that are extremely painful.
        Nor again is there anyone who loves or pursues or desires to obtain pain
        of itself, because it is pain, but because occasionally circumstances
        occur in which toil and pain can procure him some great pleasure. To
        take a trivial example, which of us ever undertakes laborious physical
        exercise, except to obtain some advantage from it? But who has any right
        to find fault with a man who chooses to enjoy a pleasure that has no
        annoying consequences, or one who avoids a pain that produces no
        resultant pleasure?" Section 1.10.33 of "de Finibus Bonorum et Malorum",
        written by Cicero in 45 BC "At vero eos et accusamus et iusto odio
        dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati
        cupiditate non provident, similique sunt in culpa qui officia deserunt
        mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
        est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
        facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        Temporibus autem quibusdam et aut officiis debitis aut rerum
        necessitatibus saepe eveniet ut et voluptates repudiandae sint et
        molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
        delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
        perferendis doloribus asperiores repellat."
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="dataProtectionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dataProtectionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataProtectionModalLabel">
          Data Protection
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The standard Lorem Ipsum passage, used since the 1500s "Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum." Section 1.10.32 of "de Finibus Bonorum et Malorum",
        written by Cicero in 45 BC "Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
        voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore
        magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
        nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
        illum qui dolorem eum fugiat quo voluptas nulla pariatur?" 1914
        translation by H. Rackham "But I must explain to you how all this
        mistaken idea of denouncing pleasure and praising pain was born and I
        will give you a complete account of the system, and expound the actual
        teachings of the great explorer of the truth, the master-builder of
        human happiness. No one rejects, dislikes, or avoids pleasure itself,
        because it is pleasure, but because those who do not know how to pursue
        pleasure rationally encounter consequences that are extremely painful.
        Nor again is there anyone who loves or pursues or desires to obtain pain
        of itself, because it is pain, but because occasionally circumstances
        occur in which toil and pain can procure him some great pleasure. To
        take a trivial example, which of us ever undertakes laborious physical
        exercise, except to obtain some advantage from it? But who has any right
        to find fault with a man who chooses to enjoy a pleasure that has no
        annoying consequences, or one who avoids a pain that produces no
        resultant pleasure?" Section 1.10.33 of "de Finibus Bonorum et Malorum",
        written by Cicero in 45 BC "At vero eos et accusamus et iusto odio
        dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati
        cupiditate non provident, similique sunt in culpa qui officia deserunt
        mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
        est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
        facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        Temporibus autem quibusdam et aut officiis debitis aut rerum
        necessitatibus saepe eveniet ut et voluptates repudiandae sint et
        molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
        delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
        perferendis doloribus asperiores repellat."
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
