pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cal-month-view .bg-pink,
.cal-week-view .cal-day-columns .bg-pink,
.cal-day-view .bg-pink {
  background-color: #28a745 !important;
  color: white;
}

span.cal-event-title.ng-star-inserted {
  color: white;
  size: 16px;
}

.cal-event-actions {
  i {
    color: red;
  }
}
